<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td>
				Hello <%= username %> 
				You have been assigned a project in the Usersystem. 
			</td>
			<td>
				Your project is <%= project_name %>. The tasks that you need to 
				work on will be sent to you when assigned. Have a beautiful day.
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td >
				This email was intented for <%= email %>. If you are not intended recipient, please 
				ignore this email or reply to us.
			</td>
		</tr>
	</tbody>
</table>