
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tbody>
		<tr>
			<td>
				Hello <%= username %> 
				Your email <%= email %> was used to register in the user system. This is to confirm that 
				this action was initiated by you.
			</td>
		</tr>
		<tr>
			<td>
				If the action was initiated by you, please click this link to deactivate the 
				account. Otherwise, this email is merely informatory.
			</td>
		</tr>
	</tbody>
</table>